/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hero.mod-join.family {
   margin-top: 25px;
   background-image: url(https://lonelyplanetstatic.imgix.net/copilot/images/ZmFtaWx5LXJvYWQtdHJpcC1sb25lbHktcGxhbmV0LmpwZ01vbiBTZXAgMjQgMjAxOCAwODo1NTo1MSBHTVQrMDAwMCAoVVRDKQ%3D%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg);
   background-position: center center;
   background-repeat: no-repeat;
   height: 400px;
   transition: background-image 1s ease-in-out;

 }

 .hero.mod-join.hiker {
   margin-top: 25px;
   background-image: url(https://lonelyplanetstatic.imgix.net/copilot/images/dHJhdmVsaW5zdXJhbmNlX2xvbmVseXBsYW5ldC5qcGdUaHUgU2VwIDIwIDIwMTggMDk6MTc6MzggR01UKzAwMDAgKFVUQyk%3D.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg);
   background-position: center center;
   background-repeat: no-repeat;
   height: 400px;
   transition: background-image 1s ease-in-out;

 }

 .hero.mod-join.forest {
   margin-top: 25px;
   background-image: url(https://lonelyplanetstatic.imgix.net/copilot/images/ZmlyZWZseV9sb25lbHlwbGFuZXQuanBnVHVlIFNlcCAyNSAyMDE4IDA4OjQyOjUzIEdNVCswMDAwIChVVEMp.jpg?q=40&w=2000&h=1125&fit=crop&fm=pjpg);
   background-position: center center;
   background-repeat: no-repeat;
   height: 400px;
   transition: background-image 1s ease-in-out;

 }

.articles {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.06px;
}

.hero-content {
  margin-left: 15px;
  color: white;
  font-family: Benton Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 45%;
  transition: opacity 1s ease;
  -webkit-font-smoothing: antialiased;
}

.link-edit {
  opacity: 1;
  font-weight: 600;
  font-size: calc(8px + 2vw);
  letter-spacing: -0.56px
}

.read-more {
  margin-top: 30px;
  margin-left: 0;
  width: 20%;
  font-size: 0.7rem;
}



/* .hero-content > h2 {
  font-size: 28px;
} */



footer {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.15);
  font-size: 12px;
  font-weight: 700px;
  color: #bfcad2;
  padding: 2.2rem 0 1.5rem;
  display: flex;
}


  .divider{
    width:15px;
    height:auto;
    display:inline-block;
  }
