/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .hero.mod-join {
   margin-top: 25px;
   background-image: url(https://ht-assets.couchsurfing.com/assets/homepage/have-fun-with-couchsurfing-0c56538cda235c5806dc956559fe942179937b39d686329158cd1987801ce115.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   text-align: center;
   height: 400px;
 }


 .hero-content {
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  width: 100%;
  margin-bottom: 0;
  margin: 0 0 0.75em 0;
}

  .hero-content-title {
    color: #fff;
    font-size: 34px;
    font-weight: lighter;
    line-height: 1.1;
    margin-top: 15px;
    margin: 100px 0 0.75em 0;
    font-family: monospace;
  }

  .hero-content-subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.1;
    margin-top: 5px;
    /* margin-left: 450px;
    margin-right: auto;
    width: 50%; */
    font-family: monospace;
}

footer {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.15);
  font-size: 12px;
  font-weight: 700px;
  color: #bfcad2;
  padding: 2.2rem 0 1.5rem;
  display: flex;
}


  .divider{
    width:15px;
    height:auto;
    display:inline-block;
  }
