.article-holder {
  display: flex;
  justify-content: space-between;
  font-family: Benton Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.article-name {
  font-size: 20px;
}

.article-border {
  border: 0.5px solid lightgrey;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.article-image {
  width: 150px;
}

.article-content {
  width: 50%;
}

.main-index {
  margin-top: 20px;
  display: flex;
  min-height: 900px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-right: 5px;
  min-width: 1000px;
}

.all-houses {
  display: flex;
  flex-flow: row wrap;
}

.house-image-container {
  overflow: hidden;
  height: 200px;
}

.house-index-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 200px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 3px 0px #e6e6e6;
  border-radius: 3px;
}

.houses {
  width: 65%;
}

.house-image {
  height: 100%;
}

.index-item-info {
  height: 15%;
  border-left: 1px solid #e6e6e6;
  font-size: 15px;
  font-weight: 300px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #484848;
  -webkit-font-smoothing: antialiased;
}

.index-item-copy {
  text-align: center;
}

.hero.mod-join.index {
  margin-top: 25px;
  background-image: url(https://lonelyplanetstatic.imgix.net/copilot/images/Ym9va2luZy1tYXN0aGVhZC1ob3RlbHMuanBnRnJpIEp1bCAyMCAyMDE4IDEzOjA3OjM3IEdNVCswMDAwIChVVEMp.jpg?fit=crop&fm=pjpg&h=1125&q=40&w=2000);
  background-repeat: no-repeat;
  height: 500px;
  transition: background-image 1s ease-in-out;
}
